.search-bar {
  width: 50%;
  height: 100px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
